<div class="Innovations">
    <div class="Container Innovations-Container">
        <div class="Innovations-Body">
            <div class="Innovations-Content">
                <h2 class="Innovations-Title">
                    Reshaping the future of finance and digital innovation
                </h2>
                <p class="Innovations-Text">
                    STASIS represents the next big step: combining the potential of the cryptocurrency market with the reliability
                    of fiat currencies, and becoming a winning choice for any market behavior.
                </p>
                <div class="Innovations-Slider InnovationsSlider">
                    <div class="InnovationsSlider-Arrow InnovationsSlider-Arrow_prev"></div>
                    <div class="InnovationsSlider-Track">
                        <div class="InnovationsSlider-Slide InnovationsSlider-Slide_current-slide">
                            <div class="InnovationsSlider-Slide-Item">
                                <div class="InnovationsSlider-Top">
                                    <img src="/img/InnovationsSlider-Icon1.svg" alt="" class="InnovationsSlider-Icon">
                                    <h3 class="InnovationsSlider-Title">
                                        Using Blockchain
                                    </h3>
                                </div>
                                <p class="InnovationsSlider-Text">
                                    STASIS platform is based on the Blockchain technology, the main innovation
                                    of the recent years which raised the world of finance to the new level of
                                    security and transparency.
                                </p>
                            </div>
                            <div class="InnovationsSlider-Slide-Item">
                                <div class="InnovationsSlider-Top">
                                    <img src="/img/InnovationsSlider-Icon2.svg" alt="" class="InnovationsSlider-Icon">
                                    <h3 class="InnovationsSlider-Title">
                                        Stability
                                    </h3>
                                </div>
                                <p class="InnovationsSlider-Text">
                                    The cost of one unit of the new currency issued on the STASIS platform is
                                    tied to the underlying national currency - be it the euro, won or British pound.
                                </p>
                            </div>
                        </div>
                        <div class="InnovationsSlider-Slide">
                            <div class="InnovationsSlider-Slide-Item">
                                <div class="InnovationsSlider-Top">
                                    <img src="/img/InnovationsSlider-Icon3.svg" alt="" class="InnovationsSlider-Icon">
                                    <h3 class="InnovationsSlider-Title">
                                        Recognition
                                    </h3>
                                </div>
                                <p class="InnovationsSlider-Text">
                                    STASIS platform and issue of cryptocurrency are supported by government authorities, and reserves are the subject of a regular audit. The implementation of distributed ledger technology aka blockchain can help to reimagine the annual and quarterly audits by making the process as real-time and low-cost as possible.
                                </p>
                            </div>
                            <div class="InnovationsSlider-Slide-Item">
                                <div class="InnovationsSlider-Top">
                                    <img src="/img/InnovationsSlider-Icon4.svg" alt="" class="InnovationsSlider-Icon">
                                    <h3 class="InnovationsSlider-Title">
                                        Reserves
                                    </h3>
                                </div>
                                <p class="InnovationsSlider-Text">
                                    Each STASIS stable coin token  is fully convertible with its fiat equivalent on a 1:1 value basis The reserves are managed according to strict “money market” mandate by the respectful institution.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="InnovationsSlider-Arrow InnovationsSlider-Arrow_next"></div>
                </div>
            </div>
        </div>
    </div>
</div>