<div class="Intro">
    <div class="Container Intro-Container">
        <div class="Intro-Body">
            <div class="Intro-Content">
                <img src="/img/Intro-Logo.svg" alt="" class="Intro-Logo">
                <h1 class="Intro-Title">
                    World’s first true digital currency
                </h1>
                <p class="Intro-Subtitle">
                    bridging the gap between decentralized<br>
                    finance and people
                </p>
            </div>
            <div class="Intro-ArrowDown"></div>
        </div>
    </div>
</div>