<div class="MainMenu">
    <div class="MainMenu-Btn">
        <span class="MainMenu-Btn-Line"></span>
        <span class="MainMenu-Btn-Line"></span>
        <span class="MainMenu-Btn-Line"></span>
    </div>
    <div class="MainMenu-Content">
        <div class="MainMenu-Top">
            <img src="/img/MainMenu-Logo.svg" alt="" class="MainMenu-Logo">
        </div>
        <nav class="MainMenu-Nav">
            <div class="MainMenu-Nav-Item">
                <a href="" class="MainMenu-Nav-Link">
                    how it works
                </a>
            </div>
            <div class="MainMenu-Nav-Item">
                <a href="" class="MainMenu-Nav-Link">
                    government relations
                </a>
            </div>
            <div class="MainMenu-Nav-Item">
                <a href="" class="MainMenu-Nav-Link">
                    stasis tokens
                </a>
            </div>
            <div class="MainMenu-Nav-Item active">
                <a href="" class="MainMenu-Nav-Link">
                    innovations and traditions
                </a>
            </div>
            <div class="MainMenu-Nav-Item">
                <a href="" class="MainMenu-Nav-Link">
                    contact
                </a>
            </div>
        </nav>
    </div>
</div>